<!DOCTYPE html>
{% extends 'myapp/base.html' %}
{% block body-block %}
<div class="jumbotron">

    <div class="container">
        <h1> welcome to Neha Online Exam-Portal</h1>
        <h3> Neha Soft provides Latest Notitifcations, Railway Jobs, Papers , Syllabus, Articles, Study Materials, Downloads and much more..</h3>
         <h2>Rules:</h2>
          <ol>
              <li>No student is allowed to leave the Exam hall premises during Exam hours without the permission of Invigilator. Otherwise strict action will be taken against the student.</li>
              <li>Students are not allowed to bring ELECTRONIC INSTRUMENTS inside examination hall</li>
          </ol>
              <ul>
                  <li>Electronic watches</li>
                  <li>Calculators</li>
                  <li>MobilePhones</li>
              </ul>
    </div>
</div>
{% endblock %}
</html>
